{% extends 'search./search_base.html' %}
{% load staticfiles %}

{% block script_block %}
    <script src="{% static 'js/restaurant_deletion_confirmation.js' %}"></script>
{% endblock %}


{% block title_block %}
    Description Changed
{% endblock %}

{% block above_block %}
    <a href="{% url 'other:addRestaurant' %}">
        <button class="btn-owner-management">
            Add
        </button>
    </a>
    {% if notAdvertised %}
        <a href="{% url 'other:advertise' %}">
            <button class="btn-owner-management">
                Advertise
            </button>
        </a>
    {% endif %}
{% endblock %}
