{% extends "base.html" %}

{% block title_block %}
    Description Changed
{% endblock %}

{% block body_block %}
    <div>
        {% for restaurant in restaurants %}
        <div class = "restaurant">
            <table>
                <tr>
                    {% if restaurant.logo %}
          
                    <td>
                        <img src="{{ MEDIA_URL }}{{ restaurant.logo }}" class="img-thumbnail" width="300" height="300">
                    </td>
          
                    {% endif %}
          
                    <td>
                        <h5>{{ restaurant.restaurantName }} </h5>
                        
                        owned by 
                        <a href="{% url 'other:viewOneUser' restaurant.owner.username_slug %}">
                            {{ restaurant.owner.user.username }}
                        </a>
                    
                        <p  class="card-title"><strong>Average Rating: </strong>
                            {% if restaurant.averageRating %}
                                <!--Star Rating Functionality-->
                                    {% for i in '0123456789' %}
                                        {% if restaurant.averageRating >= forloop.counter %}
                                            <img src="{% static 'images/star.png' %}" width="25" height="25">
                                        {% endif %}
                                    {% endfor %}
                            {% else %}
                                Not Yet Reviewed
                            {% endif %}
                        </p>
                        <strong>Category: </strong>{{ restaurant.category }}
                        <br />
                        <strong>Address: </strong>{{ restaurant.address }}
                        <br />
                        <!-- Review Links -->
                        <a href="{% url 'other:reviewRestaurant' restaurant.restaurantNameSlugged %}">Rate and Review!</a>
                        <br />
                        <a href="{% url 'other:viewRestaurantReviews' restaurant.restaurantNameSlugged %}">See Reviews</a>
                  </td>
                </tr>
              </table>
        </div>
        <br><br>
    </div>
    <a href="{% url 'other:addRestaurant' %}">Add a restaurant</a>
{% endblock %}