{% extends 'base.html' %}

{% block title_block %}
    Change Account Description
{% endblock %}

{% block body_block %}

<div class="text-center">
    <h1>Change Account Description</h1>
    <form id="change_description_form" method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
            <p style = "text-align: left;">
                <label class="required" for="about">About</label>
                <input class="form-control" id="about" name="about" type="about" />
                <span class="helptext">
                    Enter a bit about yourself
                </span>
            </p>

        </div>
        <!-- {{ form.as_p }} -->

        <div>
            <input type="submit" class="form-buttons" name="submit" value="Change" />
        </div>

    </form>

</div>
{% endblock %}