{% extends 'base.html' %}

{% block title_block %}
    Change Account Photo
{% endblock %}

{% block body_block %}

<div class="text-center">
    <h1>Change Account Photo</h1>
    <form id="change_photo_form" method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            {% for error in form.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}

        <div class="form-group">
            <p style = "text-align: left;">
                <label for="photo">Upload a photo:</label>
                <input class="form-control" type="file" id="photo" name="photo" type="photo" />
            </p>
        </div>

        <!-- {{ form.media }}
        {{ form.as_p }} -->

        <div>
            <input type="submit" class="form-buttons" name="submit" value="Change" />
        </div>
    </form>

</div>
{% endblock %}