{% extends 'base.html' %}

{% block title_block %}
    Change Account Photo
{% endblock %}

{% block body_block %}
    <h1>Change Account Photo</h1>
    <form id="change_photo_form" method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {% if form.errors %}
            {% for error in form.errors %}
                {{ error }}
            {% endfor %}
        {% endif %}
        {{ form.media }}
        {{ form.as_p }}
        <input type="submit" name="submit" value="Change"/>
    </form>
{% endblock %}