{% extends 'base.html' %}

{% block title_block %}
    Create Advertisement
{% endblock %}

{% block body_block %}
    <h1>Create Advertisement</h1>
    <br />
    <form id="advertisement_form" method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.errors }}        
        {{ form.media }}
        {{ form.as_p }}

        <div>
            <input type="submit" class="form-buttons" name="submit" value="Create" />
        </div>
    </form>
{% endblock %}