{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    User: {{ username }}
{% endblock %}

{% block body_block %}
<div class="user">
    <table>
        <tr>
            <td>
                {% if restaurantOwner %}
                    {{ username }}
                    <img src="{% static 'images/tick.png' %}" width="50" height="50">
                {% else %}
                    <h1>{{ username }}</h1>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td>
                <img src="{{ MEDIA_URL }}{{ photo_path }}" width="100" height="100">  
            </td>

            <td>
                {% if about %}
                    <p>
                        <strong>About: </strong>{{ about }}
                    <p>
                {% endif %}
            </td>


        </tr>
        {% if restaurants %}
        <h5>
            Restaurants advertised by {{ username }}:
        </h5>
            <ul>
                {% for restaurant in restaurants %}
                    <li>
                        <a href="{% url 'other:viewRestaurantReviews' restaurant.1 %}">
                            {{ restaurant.0.restaurantName }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <tr>


        </tr>


    </table>
<!-- 


</div>
    <h1>
        {% if restaurantOwner %}
            {{ username }}
            <img src="{% static 'images/tick.png' %}" width="50" height="50">
        {% else %}
            <h1>{{ username }}</h1>
        {% endif %}
    </h1>
    <img src="{{ MEDIA_URL }}{{ photo_path }}" width="100" height="100">  
    <div>
        <br />
        {% if about %}
            <h5>
                {{ about }}
            </h5>
        {% endif %}
        <br />
    </div>
    <div>
        {% if restaurants %}
        <h5>
            Restaurants advertised by {{ username }}:
        </h5>
            <ul>
                {% for restaurant in restaurants %}
                    <li>
                        <a href="{% url 'other:viewRestaurantReviews' restaurant.1 %}">
                            {{ restaurant.0.restaurantName }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div> -->
{% endblock %}

