{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ restaurant.restaurantName }}
{% endblock %}

{% block body_block %}
    <img src="{{ MEDIA_URL }}{{ photo_path }}" width="100" height="100">
    <br /> 
    {{ restaurant.restaurantName }}
    <ul>
        <li>
            Owner: 
            <a href="{% url 'other:viewOneUser' restaurant.owner.username_slug %}">
                {{ restaurant.owner }}
            </a>
        </li>
        {% if reviews %}
            <li>
                Average rating: {{ averageRating }}/10 stars
            </li>
        {% else %}
            <li>
                Average rating: N/A
            </li>
        {% endif %}
        <li>
            Address: {{ restaurant.address }}
        </li>
        <li>
            Category: {{ restaurant.category }}
        </li>
        <li>
            Date added: {{ restaurant.dateAdded }}
        </li>
    </ul>
    <h5>
        <a href="{% url 'other:reviewRestaurant' restaurant.restaurantNameSlugged %}">
            <button style="color: green; margin-right:25px;">
                Rate
            </button>
        </a>
    </h5>
    {% if reviews %}
        <br />
        <h3>
            Reviews
        </h3>
        <li>
            {% for review in reviews %}
                <hr>
                    {% if review.profile_photo_path %}
                        <img src="{{ MEDIA_URL }}{{ review.profile_photo_path }}" width="100" height="100">
                    {% else %}
                        <img src="{{ MEDIA_URL }}profile_images/default.jpg" width="100" height="100">
                    {% endif %}
                    <a href="{% url 'other:viewOneUser' review.reviewer.username_slug %}">
                        {{ review.reviewer.user.username }}
                    </a> 
                    <br />
                    {% for i in '0123456789' %}
                        {% if review.rating >= forloop.counter %}
                            <img src="{% static 'images/star.png' %}" width="25" height="25">
                        {% endif %}
                    {% endfor %}
                    <br />
                    {{ review.date }}
                    <br />
                    {{ review.comment }}
                <hr />
            {% endfor %}
        </li>
    {% else %}
        <h3>
            No reviews yet. Be the first!
        </h3>
    {% endif %}
{% endblock %}