{% extends 'base.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

    {% if logged_in %}
        <strong> Thanks for signing in </strong>
    {% else %}
        <form id="login_form" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}

            {% if login_failed %}
                <strong>Invalid login details provided</strong>
            {% endif %}

            {{ login_form.as_p }}

            <input type="submit" name="submit" value="Log In"/>

        </form>
        <p>
            <a href="{% url 'registration_register' %}">Register for Bestaurant!</a>
        </p>
        
    {% endif %}

{% endblock %}