{% extends 'base.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

<div class="text-center">

    {% if logged_in %}
        <strong> Thanks for signing in to Bestaurant! </strong>
    {% else %}

    <strong>Please enter your username and password:</strong>
        

    <form id="login_form" method="post" action="." enctype="multipart/form-data">
        
        {% csrf_token %}

        {% if login_failed %}
            <strong>Invalid login details provided</strong>
        {% endif %}

        <br/><br/>

        <div class="form-group">
            <p style = "text-align: left;" class="required">
                <label  class="required" for="username">Username: </label>
                <input class="form-control" id="username" name="username_or_email" type="username" />
            </p>

            <p style = "text-align: left;" class="required">
                <label  class="required" for="password">Password: </label>
                <input class="form-control" id="password" name="password" type="password" />
            </p>
        </div>

        <div >
            <input type="submit" class="form-buttons" name="submit" value="Log In" />
        </div>
    
    </form>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
{% endif %}

</div>

{% endblock %}