{% extends 'base.html' %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

<div class="text-center">

    {% if logged_in %}
        <strong> Thanks for signing in to Bestaurant! </strong>
    {% else %}
        

    <strong>Please enter your username and password.</strong>

        <form id="login_form" method="post" action="." enctype="multipart/form-data">
        
            {% csrf_token %}
 
            {% if login_failed %}
                <strong>Invalid login details provided</strong>
            {% endif %}

            <br/><br/>

            {{ login_form.as_p }}

        <div class="form-group row">
            <input type="submit" class="btn btn-default" name="submit" value="Log In" />
        </div>
        
        </form>

    {% endif %}

</div>

{% endblock %}