{% extends "base.html" %}
{% load staticfiles %}

{% block title_block %}
    Change Password
{% endblock %}

{% block body_block %}
<div class="text-center">
    <h1>Change Password</h1>

    <form method="post" action=".">

    <div class="form-group row">
        {% csrf_token %} 

        <p style = "text-align: left;" class="required">
            <label class="required" for="password">Password: </label>
            <input class="form-control" id="password" name="password" type="password" />
        </p>

        <p style = "text-align: left;" class="required">
            <label for="confirm_password">Password confirmation:</label>
            <input class="form-control" id="confirm_password" name="confirm_password" type="confirm_password" />
        </p>
        </div>
        <!-- {{ form.as_p }} -->
    

    <div>
        <input type="submit" class="form-buttons" name="submit" value="Submit" />
    </div>
    </form>
</div>
{% endblock %}
