{% extends 'base.html' %}

{% block title_block %}
    Register
{% endblock %}

{% block sidebar_block %}
{% endblock %}

{% block body_block %}

    {% if registered %}
        <strong>thank you for registering for Bestaurant!</strong>
    {% else %}
        <h4>Please enter your username and password.</h4>
        <strong>Register here!</strong><br />
        <!--enctype="multipart/form-data" tells the HTTP client to package and send data accordingly.-->
        <form id="registration_form" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Display each form-->
            {{ user_form.as_p }}
            {{ user_account_form.as_p }}
            {{ is_restaurant_owner_form.as_p }}
            
            <!--provide a button to click to submit the form.-->
            <input type="submit" name="submit" value="Register" />
        </form>
    {% endif %}
{% endblock %}