{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block sidebar_block %}
{% endblock %}

{% block body_block %}

<div class="text-center">

    {% if registered %}
        <strong>thank you for registering for Bestaurant!</strong>

        {% else %}

        <h4>Register here!</h4>
        <br/>
        <!--enctype="multipart/form-data" tells the HTTP client to package and send data accordingly.-->
        <form role = "form" id="registration_form" method="post" action="." enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <p style = "text-align: left;" class="required">
                    <label class="required" for="email">Email: </label>
                    <input class="form-control" id="email" name="email" type="email" />
                </p>

                <p style = "text-align: left;" class="required">
                    <label class="required" for="username">Username: </label>
                    <input class="form-control" id="username" name="username" type="username" />
                </p>

                <p style = "text-align: left;" class="required">
                    <label class="required" for="password">Password: </label>
                    <input class="form-control" id="password" name="password" type="password" />
                </p>

                <p style = "text-align: left;" class="required">
                    <label for="confirm_password">Password confirmation:</label>
                    <input class="form-control" id="confirm_password" name="confirm_password" type="confirm_password" />
                </p>

                </div>

                <div class="form-group">
                    <p style = "text-align: left;">
                        <label for="photo">Upload a photo:</label>
                        <input class="form-control" type="file" id="photo" name="photo" type="photo" />
                    </p>
                    <!-- {{ user_account_form.as_p }} -->

                    <p style = "text-align: left;">
                        <label class="required" for="about">About</label>
                        <input class="form-control" id="about" name="about" type="about" />
                        <span class="helptext">
                            Enter a bit about yourself
                        </span>
                    </p>
                </div>

                <div class="form-group form-check form-check-inline">
                    Restaurant Owner Account <input id="blankCheckbox" class="form-check-input" type="checkbox" name ="is_restaurant_owner" value=""/>
                </div>

                {{ profile_form.as_p }}
            <br/>
            <br/>
            <div >
                <input type="submit" class="form-buttons" name="submit" value="Register" />
            </div>
            <br/>



            <!-- Display each form-->
            <!-- {{ user_form.as_p }}
            </div>
            <div class="form-group">
            {{ user_account_form.as_p }}
            </div>
            <div class="form-group">
            {{ is_restaurant_owner_form.as_p }}
            </div> -->

        </form>
    {% endif %}

</div>
{% endblock %}