{% extends 'accounts/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Bestaurant Home Page
{% endblock %}

{% block body_block %}
<div>
    {% if user.is_authenticated %}
        Welcome {{ user.username }}
    {% endif %}
<!-- Need to add in tick for restaurant owner users -->
</div>

<div>
    <h2>Top Rated Restaurants</h2>
    {% if Restaurants %}
    <ul>
        {% for restaurant in Restaurants %}
        <p>Name: { restaurant.restaurantName }</p>
        <p>Rating: </p> <!--Star Rating Functionality-->
        <p>Description: { restaurant.category }, { restaurant.address } </p> 
        <!-- Review Links -->
        {% endfor %}
    </ul>

    {% else %}
        <strong>There are no restaurants present.</strong>
    {% endif %}
</div>

{% endblock %}