.nav-item{
    margin-left:10px;
}

.container-fluid-sidebar{
    background-color: white;
    border-right-style: solid;
    border-color: black;
    padding: 10px;
    border-width: 3px;
}

.user{
    background-color: whitesmoke;
    padding: 10px;
}

.restaurant{
    background-color: whitesmoke;
    padding: 10px;
}

.restaurant:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container-fluid{
    background-color: darkred;

}

.login-para{
    text-align: center;
}

.body{
    background-color: white;
    min-height: 95vh;
}

.footer{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.button-border{
    align-items: center;
    background-color: whitesmoke; 
    border: none;
    color: black;
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: medium;
    width: max-content;
    margin: auto;
    display: flex;
}

.button-border:hover{
    background-color: lightslategray;
    font-weight: bold;
}

.category-text{
    font-size: 18px;
    text-align: left;
    padding: 8px;
    color: black;
}

.category-text-selected{
    font-size: 20px;
    text-align: left;
    padding: 10px;
    background-color: lightgrey;
    color: black;
}

.category-list{
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
    font-size: 20px;
    margin-left: 15px;
}

.sort-buttons {
    display: inline-block;
    margin: 0 10px;
}


.form-buttons{

    background-color: lightgray; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 300px;
}

.form-buttons:hover{
    background-color: lightslategray;
    font-weight: bold;
}

.sticky-top {
    background-color: darkred;
}

#search-btn {
    color: white;
    background-color: darkgreen;
    font-weight: bold;
    border-color:green;
}

#search-btn:hover {
    background-color: green;
}

.notice {
    text-align: center;
    color: goldenrod;
}

#categories {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    display: table;
}

.account-setting {
    color: darkgreen;
    background-color: lightgray;
}

#become-owner {
    color: red;
    background-color: lightgray;
    margin-bottom: 10px;
}

.btn-confirm-delete {
    color: red;
}

.btn-user-control {
    color: green;
}

#restaurant-name {
    text-align: left;
    color: goldenrod;
    font-size: x-large;
    background-color: whitesmoke;
    border: none;
    font-weight: bolder;
    width: 100%;
}

#btn-rate {
    color: green;
    font-size: large;
    width: 25%
}

.btn-owner-management {
    font-size: large;
    text-align: center;
    color: green;
    width: min-content;
}
