{% extends 'base.html' %} 
{% load staticfiles %} 

{% block title_block %} 
    Bestaurant Home Page
{% endblock %} 

{% block body_block %} 
<div>
    {% if user.is_authenticated %} 
        Welcome {{user.username}}
    {% endif %}
</div>

<div>
    <h2>Top Rate Restaurants</h2>

    {% if Restaurants %} 
    <ul>
        {% for restaurant in Restaurants %} 
        <p>Name: { restaurant.restaurantName }</p>
        <!--Star Rating Functionality-->
        <p  class="card-title">Average Rating: 
            <span class="fa fa-star {% if post.average_rating > 0 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if post.average_rating > 1 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if post.average_rating > 2 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if post.average_rating > 3 %} checked {% endif %}" ></span>
            <span class="fa fa-star {% if post.average_rating > 4 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if post.average_rating > 5 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if post.average_rating > 6 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if post.average_rating > 7 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if post.average_rating > 8 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if post.average_rating > 9 %} checked {% endif %}"></span>
            <span class="fa fa-star {% if post.average_rating > 10 %} checked {% endif %}"></span>
        ></p> 
        <p>Category: { restaurant.category }</p>
        <p>Description: The restaurant is located at { restaurant.address } </p> 
        <!-- Review Links -->
        <li><a href="/reviews/{{ restaurant.restaurantName }}">Rate and Review!</a></li>
        <li><a href="">See Reviews</a></li>
        {% endfor %}
    </ul>

    {% else %} 
        <strong> There are no restaurants present.</strong>
    {% endif %}
</div>

{% endblock %}