{% extends './search_base.html' %}
{% load staticfiles %} 

{% block title_block %} 
    Bestaurant Home Page
{% endblock %} 

{% block above_block %} 
<h1 class="notice">
    <div>
        {% if user.is_authenticated %}
            {% if userAccount.restaurantOwner %}

            <div>
                <h1>Welcome {{ username }} <img src="{% static 'images/tick.png' %}" width="25" height="25"></h1>
            </div>

            {% else %}
                <h1>Welcome {{ username }}</h1>

            {% endif %}
        {% else %}
            <h1>Welcome to Bestaurant!</h1>
        {% endif %}
    </div>
</h1>


<br/>
<div>
    <h2>Top Rated Restaurants</h2>
    <br />
</div>
{% endblock %}
