<!-- Provides an extension of 'base.html' for templates that show advertisements -->

{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
    <!-- Allows extending templates to put content above the advertisements -->
    {% block above_block %} 
    <br/>
    {% endblock %}
    <ul id="restaurant_list">
        {% for restaurant in restaurants %}
        <div class = "restaurant">
            <table>
                <tr>
                    <!-- Gets the restaurant logo if there is one -->
                    {% if restaurant.logo %}
        
                    <td>
                        <img src="{{ MEDIA_URL }}{{ restaurant.logo }}" class="img-thumbnail" width="200" height="200">
                    </td>
        
                    {% endif %}
        
                    <!-- Provides a link to the owner's account page -->
                    <td>
                        <a href="{% url 'other:viewRestaurantReviews' restaurant.restaurantNameSlugged %}">
                            <button id="restaurant-name">
                                {{ restaurant.restaurantName }}
                            </button>
                        </a>
                        <br />
                        <strong>
                            Owner: 
                            <a href="{% url 'other:viewOneUser' restaurant.owner.username_slug %}">
                                {{ restaurant.owner.user.username }}
                            </a>
                        </strong>
                    
                        <!-- Shows the rating out of 10 with stars -->
                        <p  class="card-title"><strong>Average Rating: </strong>
                            {% if restaurant.averageRating %}
                                <!--Star Rating Functionality-->
                                    {% for i in '0123456789' %}
                                        {% if restaurant.averageRating >= forloop.counter %}
                                            <img src="{% static 'images/star.png' %}" width="25" height="25">
                                        {% endif %}
                                    {% endfor %}
                            {% else %}
                                Not Yet Reviewed
                            {% endif %}
                        </p>
                        <!-- Also shows the category, address and date added -->
                        <strong>Category: </strong>{{ restaurant.category }}
                        <br />
                        <strong>Address: </strong>{{ restaurant.address }}
                        <br />
                        <strong>Date added: </strong>{{ restaurant.dateAdded }}
                        <br />
                        <!-- If the user is the owner they can delete the restaurant -->
                        {% if restaurant.owner.user.username == user.username %}
                            <a href="{% url 'other:deleteRestaurant' restaurant.restaurantNameSlugged %}">
                                <button class="btn-confirm-delete">
                                    Delete
                                </button>
                            </a> 
                        {% else %}
                            <!-- Otherwise they can review it -->
                            <a href="{% url 'other:reviewRestaurant' restaurant.restaurantNameSlugged %}">
                                <button id="btn-rate">
                                    Review
                                </button>
                            </a>
                        {% endif %}
                </td>
                </tr>
            </table>
            <br/>
        </div>
        {% endfor %}
    </ul>
    <!-- And allows extending templates to put content below  -->
    {% block below_block %}
    {% endblock %}
{% endblock %}
