{% extends 'accounts/base.html' %}
{% load staticfiles %}


{% block title_block %}
    Search Results
{% endblock %}

{% block body_block %}
<h1>Most Recently Added Restaurants</h1>
<ul>
    {% for restaurant in results_list %}
    <p>Name: { restaurant.restaurantName }</p>
    <p>Rating: </p> <!--Star Rating Functionality-->
    <p>Description: The restaurant is in the { restaurant.category } category and is located at { restaurant.address } </p> 
    <!-- Review Links -->
    {% endfor %}
</ul>

{% endblock %}