{% extends 'base.html' %}
{% load staticfiles %}


{% block title_block %}
    Recently Added
{% endblock %}

{% block body_block %}
<h1>Most Recently Added Restaurants</h1>
<ul>
    {% for restaurant in restaurants %}
    <div class = "restaurant">
        <table>
            <tr>
                {% if restaurant.logo %}
      
                <td>
                    <img src="{{ MEDIA_URL }}{{ restaurant.logo }}" class="img-thumbnail" width="200" height="200">
                </td>
      
                {% endif %}
      
                <td>
                    <h4 style="color: goldenrod;">{{ restaurant.restaurantName }} </h4>
                    
                    owned by 
                    <a href="{% url 'other:viewOneUser' restaurant.owner.username_slug %}">
                        {{ restaurant.owner.user.username }}
                    </a>
                
                    <p  class="card-title"><strong>Average Rating: </strong>
                        {% if restaurant.averageRating %}
                            <!--Star Rating Functionality-->
                                {% for i in '0123456789' %}
                                    {% if restaurant.averageRating >= forloop.counter %}
                                        <img src="{% static 'images/star.png' %}" width="25" height="25">
                                    {% endif %}
                                {% endfor %}
                        {% else %}
                            Not Yet Reviewed
                        {% endif %}
                    </p>
                    <strong>Category: </strong>{{ restaurant.category }}
                    <br />
                    <strong>Address: </strong>{{ restaurant.address }}
                    <br />
                    <!-- Review Links -->
                    <a href="{% url 'other:reviewRestaurant' restaurant.restaurantNameSlugged %}">Rate and Review!</a>
                    <br />
                    <a href="{% url 'other:viewRestaurantReviews' restaurant.restaurantNameSlugged %}">See Reviews</a>
              </td>
            </tr>
          </table>
  </div>
  <br /> <br />
    {% endfor %}
</ul>

{% endblock %}