<!DOCTYPE html>

{%load staticfiles %}
{% load socialaccount %}
{% load search_template_tags %}

<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bestaurant.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
    <title>
        Bestaurant - 
        {% block title_block %}
            Rate Glasgow Restaurants!
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<body>
<!-- block to represent the nav bar -->
<div class="navbar navbar-expand-sm sticky-top" >
    
    <div class="container-fluid">

        <img src="{% static 'images/logo.jpeg' %}" alt="Bestaurant Logo" width=150, height=50 />

        {% block search_bar_block %}
            <form action="{% url 'search:search_results' %}" method="get">
                <div class="input-group">
                    <div class="form-outline">
                        <input name="q" type="text" placeholder="Search" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-default" name="submit" value="Search">
                </div>
            </form>
        {% endblock %}

        {% block account_buttons_block %}
            {% if user.is_authenticated %}
                <ul class ="navbar-nav">
                    <li class = "nav-item"><button class = "nav-link" onclick = "location.href = '/user/{{ user }}'">My Account</a></button></li>
                    <li class = "nav-item"><button class = "nav-link" onclick = "location.href = '{% url 'auth_logout' %}'">Sign out</button></li>
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class = "nav-item"><button class = "nav-link" onclick ="location.href = '{% provider_login_url 'google' %}'">Google</button></li>
                    <li class = "nav-item"><button class = "nav-link" onclick ="location.href = '{% url 'register' %}'">Register</button></li>
                    <li class = "nav-item"><button class = "nav-link" onclick ="location.href = '{% url 'login' %}'">Log In</button></li>
                </ul>
        {% endif %}
        {% endblock %}

    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                {% block sidebar_block %}
                <h2>Restaurant Categories</h2>
        
                {% get_category_list category %}
        
        
                <h2>Sort All Restaurants</h2>
                
                <form actions="{% url 'search:most_reviewed' %}" method="get">
                    <input type="submit" class="btn btn-default" name="most_reviewed" value="Most Reviewed">
                </form>
        
                <form actions="{% url 'search:most_recently_reviewed' %}" method="get">
                    <input type="submit" class="btn btn-default" name="most_recently_reviewed" value="Recently Reviewed">
                </form>
        
                <form actions="{% url 'search:recently_added' %}" method="get">
                    <input type="submit" class="btn btn-default" name="recently_added" value="Recently Added">
                </form>
                
        
            {% endblock %}
            </div>
        </nav>
        
        <main role="main" class="col-md-9  ml-sm-auto col-lg-10 px-4">	
            <div class = "body">	
                {% block body_block %}
                <!-- Edit block on individual pages -->
                <div>
                    <!-- testing log out-->
                    <a href="{% url 'auth_logout' %}">Logout</a>
                    
                </div>
                
                {% endblock %}
                
                <!-- FOOTER -->
                <footer>
                    <!-- <p class="float-right"><a href="#">Back to top</a></p> -->
                    <p>&copy; Bestaurant &middot;</p>
                </footer>
            </div>
        </main>
    </div>
</div>

</body>
</html>